In [1]:
# 1. Unique Words in a Sentence
sentence="python is easy and python is powerful"
words=sentence.split()
unique_words=set(words)
print("Unique words count:",len(unique_words))
print("Unique words:",unique_words)

Unique words count: 5
Unique words: {'python', 'easy', 'powerful', 'and', 'is'}

In [2]:
# 2.Highest Salary from Employee Data
employees={"Ravi":75000,"Anita":68000,"Kiran":72000}
highest_employee=max(employees,key=employees.get)
print("Highest salary:",highest_employee,"-",employees[highest_employee])

Highest salary: Ravi - 75000

In [3]:
# 3. Find Maximum and Minimum Values
nums=[45, 22, 89, 10, 66]
maxi=nums[0]
mini=nums[0]
for num in nums:
  if num>maxi:
    maxi=num
  if num<mini:
    mini=num
print("List:",nums)
print("Max:",maxi)
print("Min:",mini)

List: [45, 22, 89, 10, 66]
Max: 89
Min: 10

In [4]:
# 4. Count Products Above a Price Threshold
prices=[450, 1200, 899, 1500, 300]
cnt=0
for i in prices:
  if i>1000:
    cnt+=1
print("Products above 1000:",cnt)

Products above 1000: 2

In [5]:
# 5. Calculate Attendance Percentage
attendance = ["P", "P", "A", "P", "P"]
present_cnt=attendance.count("p")
total_days=len(attendance)
percentage=(present_cnt/total_days)*100
print("Attendance Percentage:",percentage)

Attendance Percentage: 0.0

In [6]:
# 6. Remove Duplicate Phone Numbers
phone_numbers = [9876543210, 9123456789, 9876543210]
unique_num=set(phone_numbers)
print("Unique phone numbers:",unique_num)

Unique phone numbers: {9876543210, 9123456789}

In [7]:
# 7. Count Character Frequency
text="python"
freq={}
for char in text:
  if char in freq:
    freq[char]+=1
  else:
    freq[char]=1
print(freq)

{'p': 1, 'y': 1, 't': 1, 'h': 1, 'o': 1, 'n': 1}

In [8]:
# 8. Convert List to Tuple
nums=[10,20,30]
t=tuple(nums)
print("Tuple:",t)

Tuple: (10, 20, 30)

In [9]:
# 9. Check if a Key Exists in a Dictionary
employees={"Ravi":75000,"Anita":68000}
if "Ravi" in employees:
  print("Employee exists")
else:
  print("Employee does not exist")

Employee exists

In [10]:
# 10. Calculate Average Marks
marks=[70,80,65,75]
average=sum(marks)/len(marks)
print("Average Marks:",average)

Average Marks: 72.5